
.flex {
    display: flex;
}

.justify-alignment {
    justify-content: center;
}

.justify-space {
    justify-content: space-between;
}

.center-items {
    align-items: center;
}

.colour-invert {
    filter: invert();
}